html {
    width: 100%;
    height: 100%;
    --bg: #f1f5f9;
    --accent: #e2e8f0;
    --main: #cbd5e1;
    --text: #1e293b;
    --second: #94a3b8;
    --third: #64748b;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main);
    position: relative;
}

#overlay {
    visibility: hidden;
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: var(--third);
    opacity: .7;
    z-index: 1;
}

header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--third);
}

h1 {
    margin-left: 20px;
    color: var(--text);
}

main {
    width: 100%;
    height: 85%;
    display: flex;
}

aside {
    width: 20%;
    height: 100%;
    background-color: var(--second);
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: var(--text);
    font-size: 1.2em;
}

aside li:hover {
    color: var(--main);
}

#projectUl li {
    display: flex;
    align-items: center;
    height: 40px;
}

#projectUl li:hover button{
    visibility: visible;
}

#projectUl button {
    visibility: hidden;
    background-color: var(--second);
    border: none;
    font-size: 1em;
}

#projectUl button:hover {
    color: var(--main);
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.homeLink, .projectLink {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

section {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainSection {
    width: 80%;
    height: 80%;
}

#mainHeader {
    width: 100%;
    height: 15%;
    background-color: var(--second);
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

h2 {
    color: var(--text);
}

#closeWindowBtn {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: var(--second);
    color: var(--main);
    font-size: .5em;
    border: none;
    cursor: pointer;
}

#closeWindowBtn:hover {
    color: var(--third);
}

#addProjectBtn, #finishedAddingTasksBtn {
    font-size: 1.2em;
}

#addProjectBtn:hover, #finishedAddingTasksBtn:hover {
    color: var(--second);
    cursor: pointer;
}

#mainBody {
    width: 100%;
    height: 85%;
    display: flex;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 20px;
    background-color: var(--bg);
    color: var(--text);
    font-weight: bold;
}

#mainBody input {
    width: 50%;
    margin: 20px;
}

#mainBody h3 {
    color: var(--text);
    font-size: 1.5em;
}

#mainBody button {
    height: auto;
    background-color: var(--bg);
    border: none;
}


#taskFormContainer {
    position: absolute;
    z-index: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    align-items: center;
    padding-top: 20px;
}

#taskFormContainer button {
    background-color: white;
    cursor: pointer;
}

#closeTaskBtn {
    margin: 0 !important;
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 1;
}

#editProjectBtn {
    font-size: 1.5em;
}
#taskFormContainer select {
    margin-top: 15px;
}

.taskDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.taskTop {
    display: flex;
    width: 40%;
    justify-content: space-around;
    background-color: var(--bg);
}

.taskTop:hover, .taskTop:hover #taskBtnDiv button{
    cursor:pointer;
    background-color: white !important;
}

#taskBtnDiv {
    display: flex;
    align-items: center;
}

#taskBtnDiv button:hover {
    color: var(--second);
    cursor: pointer;
}

.taskBottom {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

#addNewTaskBtn {
    font-size: 2em;
}

#addNewTaskBtn:hover {
    color: var(--second);
    cursor: pointer;
}

#editProjectBtn {
    font-size: 1em;
    position: absolute;
    bottom: 20px;
}

#editProjectBtn:hover {
    cursor: pointer;
    color: var(--second);
}

footer {
    width: 100%;
    height: 5%;
    background-color: var(--main);
}